$primary: #1596C1;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-vue/src/index.scss";

* {
  font-family: "Forum-Regular", serif;
}

.raleway-regular {
  font-family: "Raleway-Regular", serif;
}

.app-container {
  max-width: 1292px;
  width: 100%;
  margin: 0 auto;
}
