$primary: #1596C1;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-vue/src/index.scss";

* {
  font-family: "Forum-Regular", serif;
}

.raleway-regular {
  font-family: "Raleway-Regular", serif;
}
