$primary: #1596C1;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-vue/src/index.scss";

* {
  font-family: "Forum-Regular", serif;
}

.raleway-regular {
  font-family: "Raleway-Regular", serif;
}

.app-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .app-container {
    padding: 0 34px;
  }
}

@media (min-width: 992px) {
  .app-container {
    max-width: 1370px;
    padding: 0 70px;
  }
}

/* Small devices (sm, ≥576px) */
@media (min-width: 576px) {
  .w-sm-25 { width: 25% !important; }
  .w-sm-33 { width: 33.333% !important; }
  .w-sm-50 { width: 50% !important; }
  .w-sm-75 { width: 75% !important; }
  .w-sm-100 { width: 100% !important; }
}

/* Medium devices (md, ≥768px) */
@media (min-width: 768px) {
  .w-md-25 { width: 25% !important; }
  .w-md-33 { width: 33.333% !important; }
  .w-md-50 { width: 50% !important; }
  .w-md-75 { width: 75% !important; }
  .w-md-100 { width: 100% !important; }
}

/* Large devices (lg, ≥992px) */
@media (min-width: 992px) {
  .w-lg-25 { width: 25% !important; }
  .w-lg-33 { width: 33.333% !important; }
  .w-lg-50 { width: 50% !important; }
  .w-lg-75 { width: 75% !important; }
  .w-lg-100 { width: 100% !important; }
}

/* Extra large devices (xl, ≥1200px) */
@media (min-width: 1200px) {
  .w-xl-25 { width: 25% !important; }
  .w-xl-33 { width: 33.333% !important; }
  .w-xl-50 { width: 50% !important; }
  .w-xl-75 { width: 75% !important; }
  .w-xl-100 { width: 100% !important; }
}
